<div class="container mt-5">
  <div class="alert alert-success">
    <h4 class="alert-heading">Bootstrap 5.1.3 Gem Test</h4>
    <p>If you see this styled alert, Bootstrap is working via the gem.</p>
    <hr>
    
    <button class="btn btn-primary">Primary Button</button>
    <button class="btn btn-outline-danger ms-2">Outline Button</button>
    
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Dropdown Test
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
      </ul>
    </div>
  </div>
</div>