document.querySelector("[data-postal-search-target='neighborhoodSelect']").innerHTML = '
  <option value="">Select Neighborhood</option>
  <%= options_from_collection_for_select(@neighborhoods, :id, :name) %>';

document.querySelector("[data-postal-search-target='neighborhoodSelect']").disabled = false;