document.querySelector("[data-postal-search-target='districtSelect']").innerHTML = '
  <option value="">Select District</option>
  <%= options_from_collection_for_select(@districts, :id, :name) %>';
  
document.querySelector("[data-postal-search-target='districtSelect']").disabled = false;
